body {
    font-family: Arial, sans-serif;
}

#timeline {
    width: 700px;
    background-color: #333;
    padding: 10px;
    color: white;
    font-family: Arial, sans-serif;
}

.station {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    color: white;
}

.station span:nth-child(1) {
    flex-basis: 15%; /* Ajusté pour les titres */
    text-align: left;
}

.station span:nth-child(2) {
    flex-basis: 25%; /* Ajusté pour les titres */
    text-align: left;
}

.station span:nth-child(3) {
    flex-basis: 60%; /* Ajusté pour les titres */
    text-align: left;
}

.header span {
    font-weight: bold;
}

.current-station {
    background-color: green;
}

.delayed {
    color: red;
}

#info {
    margin-top: 20px;
}
